<% if @animal_group.present? %>
  <% content_for :heading, "Animals in #{@animal_group.name}" %>
<% else %>
  <% content_for :heading, "Animals" %>
<% end %>

<%= link_to "Add", new_dashboard_animal_path, class: "button is-primary" %>

<hr />

<% unless @animals.any? %>
  <h2 class="title is-2">You haven't added any animals yet</h2>
  <%= link_to "Add some here!", new_dashboard_animal_path, class: "button is-primary" %>
<% end %>

<% @animals.in_groups_of(3, false).each do |group| %>
  <div class="columns">
    <%# renders animal.html.erb %>
    <%= render group, cached: true %>
  </div>
<% end %>
